# not ignore dll and libs
!*.dll
!*.lib

*.ipch
*.log
*.tlog
*.ilk
*.pdb
*.obj
*.exe

# visual studio cache files
*.VC.db
*.VC.opendb

# user-specific files
*.suo

# Build results
[Dd]ebug/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.vs/

*.csproj
